<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind CSS Alerts Components</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="max-w-screen-xl p-5 mx-auto">
        <!-- Simple Alerts -->
        <div>
            <h1 class="text-base capitalize">Simple Alerts</h1>
            <div class="flex flex-wrap -mx-5">
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-success">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Success</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-warning">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Warning</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-danger">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Danger</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-info">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Info</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Rounded Alerts -->
        <div class="mt-10">
            <h1 class="text-base capitalize">Rounded Alerts</h1>
            <div class="flex flex-wrap -mx-5">
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-success rounded">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Success</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-warning rounded">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Warning</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-danger rounded">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Danger</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-info rounded">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Info</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Beautify Alerts -->
        <div class="mt-10">
            <h1 class="text-base capitalize">Beautify Alerts</h1>
            <div class="flex flex-wrap -mx-5">
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-success rounded beautify-success">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Success</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-warning rounded beautify-warning">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Warning</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-danger rounded beautify-danger">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Danger</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-info rounded beautify-info">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Info</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Beautify Alerts -->
        <div class="mt-10">
            <h1 class="text-base capitalize">Beautify Alerts</h1>
            <div class="flex flex-wrap -mx-5">
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-success rounded beautify-success">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Success</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-warning rounded beautify-warning">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Warning</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-danger rounded beautify-danger">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Danger</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-info rounded beautify-info">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Info</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Alerts With Close Option -->
        <div class="mt-10">
            <h1 class="text-base capitalize">Alerts With Close Option</h1>
            <div class="flex flex-wrap -mx-5">
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-success rounded beautify-success">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Success</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                        <ion-icon name="close-outline" class="alert-close"></ion-icon>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-warning rounded beautify-warning">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Warning</span>
                            <p>Congratulations your account has created successfully</p>
                            <ion-icon name="close-outline" class="alert-close"></ion-icon>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-danger rounded beautify-danger">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Danger</span>
                            <p>Congratulations your account has created successfully</p>
                            <ion-icon name="close-outline" class="alert-close"></ion-icon>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-6/12 p-5">
                    <div class="alert alert-info rounded beautify-info">
                        <div class="flex-none md:flex">
                            <span class="inline-block mr-3">Info</span>
                            <p>Congratulations your account has created successfully</p>
                        </div>
                        <ion-icon name="close-outline" class="alert-close"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./script/alert.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>