<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind CSS Buttons Components</title>
    <link rel="stylesheet" href="../src/main.css" />
</head>

<body>
    <div class="max-w-screen-xl mx-auto my-20 px-5">
        <div class="border-b pb-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Buttons</h3>
            <button class="btn btn-primary">Primary</button>
            &nbsp;&nbsp;
            <button class="btn btn-secondary">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn btn-warning">Warning</button>
            &nbsp;&nbsp;
            <button class="btn btn-success">Success</button>
            &nbsp;&nbsp;
            <button class="btn btn-info">Info</button>
            &nbsp;&nbsp;
            <button class="btn btn-dark">Dark</button>
            &nbsp;&nbsp;
            <button class="btn btn-purple">Purple</button>
            &nbsp;&nbsp;
            <button class="btn btn-indigo">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn btn-pink">Pink</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger">Danger</button>
        </div>

        <!-- Rounded Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Rounded Buttons</h3>
            <button class="btn btn-primary rounded">Primary</button>
            &nbsp;&nbsp;
            <button class="btn btn-secondary rounded">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn btn-warning rounded">Warning</button>
            &nbsp;&nbsp;
            <button class="btn btn-success rounded">Success</button>
            &nbsp;&nbsp;
            <button class="btn btn-info rounded">Info</button>
            &nbsp;&nbsp;
            <button class="btn btn-dark rounded">Dark</button>
            &nbsp;&nbsp;
            <button class="btn btn-purple rounded">Purple</button>
            &nbsp;&nbsp;
            <button class="btn btn-indigo rounded">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn btn-pink rounded">Pink</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger rounded">Danger</button>
        </div>

        <!-- Shadow Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Shadow Buttons</h3>
            <button class="btn btn-primary primary-shadow rounded">Primary</button>
            &nbsp;&nbsp;
            <button class="btn btn-secondary secondary-shadow rounded">
                Secondary
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-warning warning-shadow rounded">Warning</button>
            &nbsp;&nbsp;
            <button class="btn btn-success success-shadow rounded">Success</button>
            &nbsp;&nbsp;
            <button class="btn btn-info info-shadow rounded">Info</button>
            &nbsp;&nbsp;
            <button class="btn btn-dark dark-shadow rounded">Dark</button>
            &nbsp;&nbsp;
            <button class="btn btn-purple purple-shadow rounded">Purple</button>
            &nbsp;&nbsp;
            <button class="btn btn-indigo indigo-shadow rounded">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn btn-pink pink-shadow rounded">Pink</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger danger-shadow rounded">Danger</button>
        </div>

        <!-- Ring Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Rind Buttons</h3>
            <button class="btn btn-primary primary-ring">Primary</button>
            &nbsp;&nbsp;
            <button class="btn btn-secondary secondary-ring">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn btn-warning warning-ring">Warning</button>
            &nbsp;&nbsp;
            <button class="btn btn-success success-ring">Success</button>
            &nbsp;&nbsp;
            <button class="btn btn-info info-ring">Info</button>
            &nbsp;&nbsp;
            <button class="btn btn-dark dark-ring">Dark</button>
            &nbsp;&nbsp;
            <button class="btn btn-purple purple-ring">Purple</button>
            &nbsp;&nbsp;
            <button class="btn btn-indigo indigo-ring">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn btn-pink pink-ring">Pink</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger danger-ring">Danger</button>
        </div>


        <!-- Meterial Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Meterial Buttons</h3>
            <button class="btn btn-primary meterial">Primary</button>
            &nbsp;&nbsp;
            <button class="btn btn-secondary meterial">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn btn-warning meterial">Warning</button>
            &nbsp;&nbsp;
            <button class="btn btn-success meterial">Success</button>
            &nbsp;&nbsp;
            <button class="btn btn-info meterial">Info</button>
            &nbsp;&nbsp;
            <button class="btn btn-dark meterial">Dark</button>
            &nbsp;&nbsp;
            <button class="btn btn-purple meterial">Purple</button>
            &nbsp;&nbsp;
            <button class="btn btn-indigo meterial">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn btn-pink meterial">Pink</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger meterial">Danger</button>
        </div>

        <!-- Sweet Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Sweet Buttons</h3>
            <button class="btn sweet-primary">Primary</button>
            &nbsp;&nbsp;
            <button class="btn sweet-secondary">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn sweet-warning">Warning</button>
            &nbsp;&nbsp;
            <button class="btn sweet-success">Success</button>
            &nbsp;&nbsp;
            <button class="btn sweet-info">Info</button>
            &nbsp;&nbsp;
            <button class="btn sweet-dark">Dark</button>
            &nbsp;&nbsp;
            <button class="btn sweet-purple">Purple</button>
            &nbsp;&nbsp;
            <button class="btn sweet-indigo">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn sweet-pink">Pink</button>
            &nbsp;&nbsp;
            <button class="btn sweet-danger">Danger</button>

        </div>


        <!-- Outline Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Outline Buttons</h3>
            <button class="btn outline-primary primary-ring">Primary</button>
            &nbsp;&nbsp;
            <button class="btn outline-secondary secondary-ring">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn outline-warning warning-ring">Warning</button>
            &nbsp;&nbsp;
            <button class="btn outline-success success-ring">Success</button>
            &nbsp;&nbsp;
            <button class="btn outline-info info-ring">Info</button>
            &nbsp;&nbsp;
            <button class="btn outline-dark dark-ring">Dark</button>
            &nbsp;&nbsp;
            <button class="btn outline-purple purple-ring">Purple</button>
            &nbsp;&nbsp;
            <button class="btn outline-indigo indigo-ring">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn outline-pink pink-ring">Pink</button>
            &nbsp;&nbsp;
            <button class="btn outline-danger danger-ring">Danger</button>
        </div>


        <!-- Smart Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Smart Buttons</h3>
            <button class="btn smart-primary primary-ring">Primary</button>
            &nbsp;&nbsp;
            <button class="btn smart-secondary secondary-ring">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn smart-warning warning-ring">Warning</button>
            &nbsp;&nbsp;
            <button class="btn smart-success success-ring">Success</button>
            &nbsp;&nbsp;
            <button class="btn smart-info info-ring">Info</button>
            &nbsp;&nbsp;
            <button class="btn smart-dark dark-ring">Dark</button>
            &nbsp;&nbsp;
            <button class="btn smart-purple purple-ring">Purple</button>
            &nbsp;&nbsp;
            <button class="btn smart-indigo indigo-ring">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn smart-pink pink-ring">Pink</button>
            &nbsp;&nbsp;
            <button class="btn smart-danger danger-ring">Danger</button>
        </div>

        <!-- Gradient Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Gradient Buttons</h3>
            <button class="btn gradient-primary primary-ring">Primary</button>
            &nbsp;&nbsp;
            <button class="btn gradient-secondary secondary-ring">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn gradient-warning warning-ring">Warning</button>
            &nbsp;&nbsp;
            <button class="btn gradient-success success-ring">Success</button>
            &nbsp;&nbsp;
            <button class="btn gradient-info info-ring">Info</button>
            &nbsp;&nbsp;
            <button class="btn gradient-dark dark-ring">Dark</button>
            &nbsp;&nbsp;
            <button class="btn gradient-purple purple-ring">Purple</button>
            &nbsp;&nbsp;
            <button class="btn gradient-indigo indigo-ring">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn gradient-pink pink-ring">Pink</button>
            &nbsp;&nbsp;
            <button class="btn gradient-danger danger-ring">Danger</button>
        </div>

        <!-- Loading Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Loading Buttons</h3>
            <button class="btn btn-primary rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-secondary rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-warning rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-success rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-info rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-dark rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-purple rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-indigo rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-pink rounded">
                <span class="spinner"></span>
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-danger rounded">
                <span class="spinner"></span>
            </button>
        </div>

        <!-- Block Button -->
        <div class="border-b pb-5 pt-5 buttons-container">
            <h3 class="capitalize text-base mb-4">Block Buttons</h3>
            <button class="btn btn-primary rounded btn-block">Primary</button>
            &nbsp;&nbsp;
            <button class="btn btn-secondary rounded btn-block">Secondary</button>
            &nbsp;&nbsp;
            <button class="btn btn-warning rounded btn-block">Warning</button>
            &nbsp;&nbsp;
            <button class="btn btn-success rounded btn-block">Success</button>
            &nbsp;&nbsp;
            <button class="btn btn-info rounded btn-block">Info</button>
            &nbsp;&nbsp;
            <button class="btn btn-dark rounded btn-block">Dark</button>
            &nbsp;&nbsp;
            <button class="btn btn-purple rounded btn-block">Purple</button>
            &nbsp;&nbsp;
            <button class="btn btn-indigo rounded btn-block">Indigo</button>
            &nbsp;&nbsp;
            <button class="btn btn-pink rounded btn-block">Pink</button>
            &nbsp;&nbsp;
            <button class="btn btn-danger rounded btn-block">Danger</button>
        </div>

    </div>
</body>

</html>