<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwindcss Table Comoponent</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="max-w-screen-xl mx-auto px-5">
        <div class="border rounded-lg my-20 overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr class="bg-green-50">
                        <th class="th">Customer Id</th>
                        <th class="th">Customer</th>
                        <th class="th">Joined</th>
                        <th class="th">Purchased</th>
                        <th class="th">Status</th>
                        <th class="th">Eid</th>
                        <th class="th">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbody-tr">
                        <td class="td">90</td>
                        <td class="td flex">
                            <div class="image-block">
                                <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-66931.appspot.com/o/avata.jpg?alt=media&token=9a5ea3bc-e734-4174-a90b-5c468aacff74"
                                    alt="avata" class="w-full h-full object-cover">
                            </div>
                            <div class="ml-2.5">
                                <span class="user">Mohammad Sujon</span>
                                <span class="email">devoloper.sujon@gmail.com</span>
                            </div>
                        </td>
                        <td class="td to-joined">March 12</td>
                        <td class="td subscription">Monthly Subscription</td>
                        <td class="td">
                            <span class="status">Complate</span>
                        </td>
                        <td class="td">
                            <a href="#" class="btn btn-warning warning-ring rounded">Edit</a>
                        </td>
                        <td class="td">
                            <a href="#" class="btn btn-danger danger-ring rounded">Delete</a>
                        </td>
                    </tr>
                    <tr class="tbody-tr">
                        <td class="td">90</td>
                        <td class="td flex">
                            <div class="image-block">
                                <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-66931.appspot.com/o/avata.jpg?alt=media&token=9a5ea3bc-e734-4174-a90b-5c468aacff74"
                                    alt="avata" class="w-full h-full object-cover">
                            </div>
                            <div class="ml-2.5">
                                <span class="user">Mohammad Sujon</span>
                                <span class="email">devoloper.sujon@gmail.com</span>
                            </div>
                        </td>
                        <td class="td to-joined">March 12</td>
                        <td class="td subscription">Monthly Subscription</td>
                        <td class="td">
                            <span class="status">Complate</span>
                        </td>
                        <td class="td">
                            <a href="#" class="btn btn-warning warning-ring rounded">Edit</a>
                        </td>
                        <td class="td">
                            <a href="#" class="btn btn-danger danger-ring rounded">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>